video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.hero-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

.hero-container > h1{
    color: #fff;
    font-size: 6rem ;
}

.hero-container > p{
    font-size: 3rem;
    color: #fff;
}

.hero-btns .btn{
    margin: 6px;
    margin-top: 10px;
    margin-bottom: 20px ;
}

@media screen and (max-width: 768px){
    .hero-container > h1{
        color: #fff;
        font-size: 3rem ;
        margin-top: 150px;
    }

    .hero-container > p{
        font-size: 2rem;
        color: #fff;
        margin-top: 70px;
    }

    .btn-mobile{
        display: block;
        text-decoration: none;
    }
    
    .btn{
        width: 100%;
    }
}